<section id="steps" class="py-5">
  <div class="container">

    <div class="row justify-content-center align-items-center">
      <div class="steps-title text-center">
        <h2 class="section-title">استلم طلبك</h2>
        <p>إستمتع بوجبتك بخطوات بسيطة و إستلم طلبك بنفسك أو بالسيارة</p>
      </div>
    </div>
    <div class="row justify-content-between justify-content-md-around align-items-center">
      <div class="col-md-3 col-lg-2  p-md-0">
        <div class="steps-card text-center">
          <div class="steps-img">
            <img src="assets/images/STEP 1.webp" alt="oliveto-order-step-1" class="img-fluid">
          </div>
          <div class="step-title">
            <p>إطلب اونلاين</p>
          </div>
        </div>
      </div>
      <div class="col-lg-2 col-md-2 d-none d-lg-block p-md-0">
        <div class="steps-card text-center">
          <div class="steps-img">
            <img src="assets/images/ARROW.webp" alt="oliveto-order-step-1" class="img-fluid">
          </div>
        </div>
      </div>

      <div class="col-md-3 col-lg-2  p-md-0">
        <div class="steps-card text-center ">
          <div class="steps-img">
            <img src="assets/images/STEP2.webp" alt="oliveto-order-step-2" class="img-fluid">
          </div>
          <div class="step-title">
            <p>أضف إلى السلة</p>
          </div>
        </div>
      </div>
      <div class="col-lg-2 col-md-2 d-none d-lg-block p-md-0">
        <div class="steps-card text-center">
          <div class="steps-img">
            <img src="assets/images/ARROW.webp" alt="oliveto-order-step-1" class="img-fluid">
          </div>
        </div>
      </div>

      <div class="col-md-3 col-lg-2  p-md-0">
        <div class="steps-card text-center">
          <div class="steps-img">
            <img src="assets/images/STEP 3.webp" alt="oliveto-order-step-3" class="img-fluid">
          </div>
          <div class="step-title">
            <p>إستلم طلبك بنفسك</p>
          </div>
        </div>
      </div>
    </div>
  </div>

</section>
