@import url("variables.scss");

.main-color {
    color: var(--main-color);
}

.main-bg {
    background-color: var(--main-color);
}

.black-color {
    color: var(--black-color);
}

.white-color {
    color: var(--white-color);
}

.white-bg {
    background-color: var(--white-color);
}

.light-bg {
    background-color: var(--light-main-color);
}

.section-title {
    color: var(--sec-color);
    font-weight: 700 !important;
    font-size: 40px;
}

@media (max-width: 992px) {
    .section-title{
        font-size: 34px;
    }
}

@media (max-width: 767px) {
    .section-title{
        font-size: 28px;
    }
}