:root{
    --main-color: #E65E25;
    --sec-color:#fb8d45;
    --third-color:#852114;
    --light-main-color: #FFEFE8;
    --black-color: #000;
    --white-color: #fff;
    --muted-color: #636363;
    --grey-color: #56534F;
    --hover-color:#FFDBCC;
}
