<section class="home-header vh-100  d-flex align-items-center">
    <div class="container">
        <div class="col-lg-9">
            <div class="header-text mb-5">
                <h1 class="w-100 main-color mb-4">“مرحباً بك في مطعمنا الرائع في ظهرة لبن”.</h1>
                <h3 class="text-white">تفضل بزيارتنا اليوم واكتشف مذاق الأكلات الشهية في قلب ظهرة لبن. إننا واثقون من أنك ستتركنا بابتسامة
                    على وجهك ورغبة في العودة مرة أخرى.</h3>
            </div>
            <a routerLink = 'dishes'>
                <button class="text-white mt-5 button b4">
                    <div class="circle"></div>
                    <span>اطلب الان</span>
                </button>
            </a>
        </div>
    </div>
</section>