<footer id="footer" class="py-3">
  <div class="footer-top">
    <div class="container">
      <div class="row justify-content-between align-items-start">

        <div class="col-lg-5">
          <div class="">
            <div class="logo-container mb-4 text-center text-lg-end">
              <img src="assets\images\olivito-logo-white.webp" alt="oliveto-ksa" class="img-fluid">
            </div>

            <div class="working-hours">
              <h6 style="font-weight: 700;">ساعات العمل الرسمية: </h6>
              <p>نحرص على تقديم خدمة عملاء ممتازة. يعمل فريقنا المدرب على ضمان راحتك واستمتاعك بتجربة تناول الطعام
                لدينا.</p>
            </div>
            <div class="row justify-content-center justify-content-lg-start">
              <div class="working-time py-2 text-center col-11 col-md-11 col-xl-9  p-0">
                <h6 class="fw-bold">طوال أيام الأسبوع : من الثالثة مساءً - الثالثة صباحاً</h6>
              </div>
            </div>


            <div class="footer-socials mt-4">
              <ul
                class="d-flex justify-content-around justify-content-md-around justify-content-lg-start p-0 gap-0 gap-lg-3">
                <a href="https://www.snapchat.com/add/olivetoksa" class="text-decoration-none " target="_blank">
                  <li class="social-icon mx-1"><i class="fa-brands fa-snapchat"></i></li>
                </a>
                <a href="https://www.tiktok.com/@olivetoksa" class="text-decoration-none " target="_blank">
                  <li class="social-icon mx-1"><i class="fa-brands fa-tiktok"></i></li>
                </a>
                <a href="https://www.facebook.com/olivetox/" class="text-decoration-none " target="_blank">
                  <li class="social-icon mx-1"><i class="fa-brands fa-facebook-f"></i></li>
                </a>
                <a href="https://wa.me/+966552202041" class="text-decoration-none " target="_blank">
                  <li class="social-icon mx-1"><i class="fa-brands fa-whatsapp"></i></li>
                </a>
                <a href="https://www.instagram.com/olivetoksa/" class="text-decoration-none " target="_blank">
                  <li class="social-icon mx-1"><i class="fa-brands fa-instagram"></i></li>
                </a>
              </ul>
            </div>

          </div>
        </div>

        <div class="col-lg-7">

          <div class="footer-contact pt-5 ">

            <form id="contactForm" role="group">

              <div class="row">
                <h6 class="mb-3" style="font-weight: 700;">تواصل معنا :</h6>
                <div class="col-12 col-md-6 form-group mb-4">
                  <input type="text" class="form-control" placeholder="الإسم" name="name" id="name" aria-label="الإسم"
                    formControlName="name">
                </div>
                <div class="col-12 col-md-6 form-group mb-4">
                  <input type="email" name="email" id="email" placeholder="الإيميل" class="form-control"
                    aria-label="الإيميل" formControlName="email">
                </div>
                <div class="col-12 col-md-12 form-group mb-4">
                  <textarea class="form-control" name="message" placeholder="رسالة" name="message" id="message"
                    aria-label="رسالة" rows="2" formControlName="message"></textarea>
                </div>
              </div>
            </form>

            <div class="contact-address d-flex justify-content-between align-items-center">

              <div class="address d-flex align-items-center mb-3 mb-lg-0 ">
                <i class="fa-solid fa-location-dot ms-2"></i>
                <h4 class="mb-0" style="font-weight: 600 !important;">ظهرة لبن - شارع عسير - الرياض.</h4>
              </div>

              <button class="btn contact-btn main-color">
                <span> تواصل معنا</span>
              </button>
            </div>

            <div class="contact-means d-flex justify-content-center justify-content-md-end my-3">
              <ul dir="ltr">
                <li id="contactEmail" class="my-2">
                  <i class="fa-solid fa-envelope me-1"></i>
                  <span> info&#64;oliveto-ksa.com</span>
                </li>
                <li class="my-1 fw-bold">
                  <i class="fa-solid fa-phone me-2"></i> 0114100027
                </li>
                <li class="my-1 fw-bold">
                  <i class="fa-solid fa-phone me-2"></i>
                  0114150028 </li>
              </ul>
            </div>

          </div>

        </div>

      </div>
    </div>
  </div>
  <div class="footer-bottom text-center py-2 mt-2">
    <p class="mb-0 text-uppercase" style="font-size: 14px;">Copyright 2023 All Right Reserved</p>
  </div>

</footer>
